* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
}
body {
  font-family:
    "CusrorGothic Fallback", "system-ui", "Helvetica Neue", "Arial",
    "sans-serif";
  background-color: #14120b;
  color: #edecec;

  nav {
    border: 2px red solid;
    height: 6dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      border: 2px red solid;
      padding: 15px;
      width: 50dvh;
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      font-size: 1.5rem;
      font-weight: 600;
    }

    .logo {
    }
  }
}
